body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
header {
    font-size: xx-large;
    text-align: center;
}
#camera {
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 60px;
    width: 45px;
}
#contentContainer {
    text-align: center;
    background-color: #191f26;
    width: 60%;
    height: 70%;
    margin: auto;
    top: 5%;
    position: relative;
    border: 1px solid #191f26;
    border-radius: 5px;
}
#gridContainer {
    position: relative;
    top: 30px;
    height: 200px;
    width: 400px;
    background-color: #e5eff1;
    margin: auto;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
}
.imgContainer {
    border: 5px solid transparent;
    border-radius: 5px;
    height: 197px;
    width: 197px;
    color: #191f26;
    text-align: center;
}
#btnSubmit {
    background-color: #191f26;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}
select {
    background-color: #191f26;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}
.legoImage {
    height: 150px;
    width: 150px;
}